/tugas 7/node_modules/
/tugas 8/node_modules/
/tugas 9/node_modules/
/tugas 10/node_modules/
/tugas 11/node_modules/
/tugas 13/node_modules/
/tugas 13/allure-results/
/tugas 14/node_modules/
/tugas 14/allure-results/
/quiz/node_modules/
/tugas 10/mochawesome-report/
/tugas 14/allure-report/
tugas 14/node_modules/
